{{ range .Components }}
## {{ .Name }}

{{ .Description }}

```yaml
include:
  - component: $CI_SERVER_FQDN/<your-project-path>/{{ .Name }}@<version>
    inputs:
      app_name: my-app
```

### Inputs

| Name | Description | Required | Default |
|------|-------------|----------|---------|
{{ range .Inputs }}| {{ .Name }} | {{ .Description }} | {{ .Required }} | {{ .Default }} |
{{ end }}{{ end }}