{{ range .Components }}
## {{ .Name }}

```yaml
include:
  - component: $CI_SERVER_FQDN/{{ $.ProjectPath }}/{{ .Name }}@{{ $.Version }}
```
{{ if .Description }}
{{ .Description }}
{{ end }}
### Inputs

| Name | Description | Required | Default |
|------|-------------|----------|---------|
{{ range .Inputs }}| {{ .Name }} | {{ .Description }} | {{ .Required }} | {{ .Default }} |
{{ end }}{{ end }}